extends layout

include mixins/yearRange
include mixins/topicList

mixin entityRecord(e)
  a(href="/entity/#{e.id}")
    | #{e.name}
  | &nbsp; #{e.etype} &nbsp;
  +yearRange(e.years)
  +topicList(e.topics)

block content
  .row-fluid
    .well.group
      .span6
        h5
          | #{hero.name}
        span
          | #{hero.etype}
          +yearRange(hero.years)

      .span6
        +topicList(hero.topics)

  .row-fluid
    .span12
      ul#coentity-list
        for e in coentities
          li
            +entityRecord(e)

